.container {
  margin: 0 27px;
  display: flex;
  flex-direction: column;
}

.motoTextWrapper {
  padding-top: 96px;
  color: var(--primary-color-1);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 36px;
}

.snapChatText {
  background: linear-gradient(to right, var(--primary-color-3) 0%, var(--primary-color-4) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  margin: 0;
  padding-top: 16px;
  text-align: center;
}

.eventPreviewImageWrapper {
  margin-top: 36px;
  margin-bottom: 34px;
  padding: 0 40px;
}

.createEventBtn {
  align-self: center;
  width: fit-content;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--primary-color-3) 0%, var(--primary-color-4) 100%);
  border-radius: 10px;
  border-style: none;
  padding: 16px 21px;
}

@media (min-width: 767px) {
  .motoTextWrapper {
    font-size: 64px;
    line-height: 64px;
  }

  .paragraph {
    align-self: center;
    font-size: 24px;
    max-width: calc(400px + 15vw);
  }

  .eventPreviewImageWrapper {
    padding: 0 28vw;
  }

  .createEventBtn {
    padding: 16px 5rem;
  }
}