.container {
  margin: 2rem 27px;
  display: flex;
  flex-direction: column;
}

.pageTitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 34px;
  background: linear-gradient(to right, var(--primary-color-3) 0%, var(--primary-color-4) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.perInput {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.label {
  font-weight: bold;
}

.textInput {
  width: 80%;
  padding: 8px 10px;
  border-radius: 10px;
}

.nextBtn {
  align-self: center;
  width: fit-content;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--primary-color-3) 0%, var(--primary-color-4) 100%);
  border-radius: 10px;
  border-style: none;
  padding: 16px 21px;
}