.container {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  margin-bottom: 11px;
}

.infoSection {
  padding: 0 20px;
}

.eventTitleText {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 4px;
}

.hostedByText {
  font-size: 14px;
  color: #828282;
  margin-bottom: 32px;
}

.infoIconTextWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 16px;
}

.iconWrapper {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 5 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.infoArrowWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eventStartTimeText {
  color: var(--primary-color-1);
  font-weight: 700;
}

.eventEndTimeText {
  font-size: 14px;
  color: #4f4f4f;
}

@media (min-width: 767px) {
  .container {
    padding: 88px 184px;
  }

  .infoSection {
    padding: 0;
  }

  .eventTitleText {
    font-size: 48px;
  }

  .hostedByText {
    font-size: 18px;
  }

  .eventEndTimeText {
    font-size: 18px;
  }
}