:root {
  --primary-color-1: #240D57;
  --primary-color-2: #501FC1;
  --primary-color-3: #8456EC;
  --primary-color-4: #E87BF8;
  --secondary-color-1: #CCB6FF;
  --secondary-color-2: #EDE5FF;
  --secondary-color-3: #F6F2FF;
  --neutral-color-1: #DDDDDD;
  ;
}
html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: var(--secondary-color-2);
  font-size: 16px;
  font-family: Helvetica, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.active {
  color: var(--theme-color-1);
  border-bottom: 3px solid #9B0000;
}


